{% extends "mini-layout.html" %}

{% block head %}
    <script type="text/javascript" src="/site_media/js/uniform/jquery.uniform.min.js"></script>
    <link rel="stylesheet" href="/site_media/js/uniform/css/uniform.default.css" type="text/css"/>
{% endblock %}


{% block notification %}
    {% if success %}
    <div id="notification">{{message}}</div>
    {% endif %}
{% endblock %}

{% block top_message %}
{% include "mini-layout-menu.html" %}
{% endblock %}

{% block mini-content %}
    
        <div id="mini-form">
            <form action="/settings/password/" method="post">
                {% csrf_token %}
                <p>
                    <label> Nouveau Mot de passe </label>
                    <input id="textinput" type="password" value="" name="password"/>
                    {% if form.password.errors %}
                    <span id="form_alert">{{form.password.errors|striptags}}</span>
                    {% endif %}
                </p>
                
                <p>
                    <label> Retaper votre nouveau mot de passe </label>
                    <input id="textinput" type="password" name="repassword"/>
                    {% if error %}
                    <span id="form_alert">{{error}}</span>
                    {% endif %} 
                </p>
                <p>
                    <input id="submitinput" value="Modifier" type="submit"/>
                </p>
            </form>
        </div>
{% endblock %}