<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Page Title{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic' rel='stylesheet' type='text/css'  />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css' />
    
    <!-- media files  -->
    <link href="/site_media/grids.css" type="text/css" rel="stylesheet"/>
    <link href="/site_media/style.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/site_media/js/jquery.min.js"></script>
    
    <!-- Facebook js files -->
    {% load facebook %}
    {% facebook_init %}
     {% block facebook_code %}{% endblock %}
    {% endfacebook %}
    
    
    {% block head %}
        <script type="text/javascript" src="/site_media/js/jquery.sparkbox-select.js"></script>
    {% endblock %}
     
    <script type="text/javascript" src="/site_media/js/script.js"></script>
  
</head>

<body>


<div id="rubon"></div>

<div id="wrap" class="container_12">

<!-- header -->
    <div id="header">
        
        <div id="h-t">
            <div id="logo"><a href="/"><img class="lightbox" src="/site_media/images/logo.png"/></a></div>
            
            {% block menu %}
            <div id="menu">
                <ul>
                        {% if user.is_authenticated %}
                        <li id="down">
                            <img src="https://www.grubwithus.com/images/bear.png?1310420280" alt="{{user.first_name}} {{user.last_name}}" title="{{user.first_name}} {{user.last_name}}"/>
                            <a href="/users/{{user.first_name}}-{{user.last_name}}-{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                            <ul>
                                <li>
                                    <a href="/reservations" title="reservations" alt="reservations">Reservations</a>
                                </li>
                                <li>
                                    <a href="/settings" title="Paramètres" alt="Paramètres">Paramètres</a>
                                </li>
                                <li>
                                    <a href="/referrals" title="Referrals" alt="Referrals">Referrals</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/messages" title="messages" alt="messages">Messages</a>
                        </li>
                        <li class="highlight">
                            <a href="/logout">Déconnexion</a>
                        </li>
                        {% else %}
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/signup/">Inscription</a></li>
                        <li class="highlight"><a id="show_login_box" href="#login_box">Connexion</a></li>
                        {% endif %}
                </ul>
            </div>
            {% endblock %}
            
        </div>
        
        <div id="line"></div>
        <div id="login_box">test</div>
    </div>
    
<!-- messagebox -->
    {% block messagebox %}

    {% endblock %}
    
<!-- container -->
    <div id="container">
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    
    
<!-- footer -->
    <div id="footer">
        {% block footer %}
            <span>© 2011 Operancy.</span>
            
            <a href="#">Contactez-nous</a>
            <a href="#">Blog</a>
            <a href="#">Apropos</a>
            <a href="#">Press</a>
            
            <ul>
                <li id="twitter">
                    <a href="#">Suivez-nous sur Twitter</a>
                </li>
                <li id="facebook">
                    <a href="#">Tastymeeting sur Facebook</a>
                </li>
            </ul>
        {% endblock %}
    </div>
</div>

{% facebook_load %}
</body>
</html>