<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Page Title{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic' rel='stylesheet' type='text/css'  />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css' />
    
    <!-- media files  -->
    <link href="/site_media/grids.css" type="text/css" rel="stylesheet"/>
    <link href="/site_media/style.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/site_media/js/jquery.min.js"></script>
    
    <!-- Facebook js files -->
    {% load facebook %}
    {% facebook_init %}
     {% block facebook_code %}{% endblock %}
    {% endfacebook %}
    
    
    {% block head %}
        <script type="text/javascript" src="/site_media/js/jquery.sparkbox-select.js"></script>
    {% endblock %}
     
    <script type="text/javascript" src="/site_media/js/script.js"></script>
  
</head>

<body>


<div id="rubon"></div>

<div id="wrap" class="container_12">
    <div class="clear"></div>
<!-- header -->
    <div id="header">
        
        <div id="h-t">
            <div id="logo"><a href="/"><img class="lightbox" src="/site_media/images/logo.png"/></a></div>
            
                
            <div id="top-bar">
                <div id="top-bar-menu">
                    <h2>Régions</h2>
                    <select name="location" id="location">
                        <option value="paris">Paris</option>
                        <option value="chicago">Chicago</option>
                        <option value="new york">New York</option>
                        <option value="las vegas">Las Vegas</option>
                    </select>
                    
                    <div id="menu">
                        {% if user.is_authenticated %}
                            <ul>
                                <li class="settings-bt">
                                    <a href="/user/{{user.first_name}}-{{user.lastname}}/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                                    <ul>
                                        <li><a href="/reservations">Reservations</a></li>
                                        <li><a href="/settings">Paramètres</a></li>
                                        <li><a href="/referrals">Referrals</a></li>
                                    </ul>
                                </li>
                                <li class="inbox-bt"><a href="/messages">Messages</a></li>
                                <li class="shutdown-bt"><a href="/logout">Déconnexion</a></li>
                            </ul>
                        {% else %}
                        <ul>
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/signup">Inscription</a></li>
                            <li class="highlight"><a href="/login">Connexion</a></li>
                        </ul>
                        {% endif %}
                    </div>
                    
                    
                    
                    
                </div>
            </div>
            
        </div>
        
       
    
<!-- messagebox -->
    {% block messagebox %}

    {% endblock %}
    
    <div class="clear"></div>
<!-- container -->
    <div id="container">
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <div class="clear"></div>
    
<!-- footer -->
    <div id="footer">
        {% block footer %}
            <span>© 2011 Operancy.</span>
            
            <a href="#">Contactez-nous</a>
            <a href="#">Blog</a>
            <a href="#">Apropos</a>
            <a href="#">Press</a>
            
            <ul>
                <li id="twitter">
                    <a href="#">Suivez-nous sur Twitter</a>
                </li>
                <li id="facebook">
                    <a href="#">Tastymeeting sur Facebook</a>
                </li>
            </ul>
        {% endblock %}
    </div>
    <div class="clear"></div>
</div>

{% facebook_load %}
</body>
</html>