<div id="loginbox">  
    <form id="mini-form" action="signup/" method="post">
        <p>
            <label>Nom complet</label>
            <input type="text" class="textinput" id="fullName" name="fullName"/>
        </p>
        <p>
            <label>Email</label>
            <input type="text" class="textinput" id="email" name="email"/>
        </p>
        <p>
            <label>Mot de passe</label>
            <input type="password" class="textinput" name="password"/>
        </p>
        <p>
            <input type="submit" class="submitinput" value="Inscrivez-moi"/>
            <a id="facebook_connect" href="javascript:void(0)"><img src="site_media/images/facebook_connect.gif"/></a>
        </p>
    </form>
</div>
