{% extends "mini-layout.html" %}

{% block top_message %}
    <p>
        Pas encore membre? <a href="/signup/">Inscrivez-vous</a>
    </p>
{% endblock %}


{% block mini-content %}

{% if message %}
    <div id="form_info">{{message}}</div>
{% endif %}
   
<div id="mini-form">
    <form action="/login/" method="post">
        {% csrf_token %}
                       
        <p>
            <label> Email </label>
            <input type="text" name="email" id="textinput"/>
            {% if form.email.errors %}
            <span id="form_alert">{{form.email.errors|striptags}}</span>
            {% endif %}
    
        </p>
                        
        <p>
            <label> Mot de passe </label>
            <input type="password" name="password" id="textinput"/>
                            
        {% if form.password.errors %}
            <span id="form_alert">{{form.password.errors|striptags}}</span>
        {% endif %}
                            
        </p>
        <p>
            <input type="submit" name="send" value="Envoyer" id="submitinput"/>
            <a href="#" id="facebook_connect"><img src="/site_media/images/facebook_connect.gif"/></a>
        </p>
    </form>
</div>

{% endblock %}